<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.js}"></script>
</head>
<body>
<h1>Welcome</h1>
<div>
    <p id="time"></p>
    <button hx-get="/swap" hx-target="#time" hx-swap="outerHTML">Update</button>
</div>
<div>
    <p hx-get="/data1" hx-trigger="load" hx-swap="outerHTML"></p>
</div>
<div>
    <p hx-get="/data2" hx-trigger="load" hx-swap="outerHTML"></p>
</div>
<div>
    <p hx-get="/data3" hx-trigger="load" hx-swap="outerHTML"></p>
</div>
</body>
</html>